<button onclick="Print()">print</button>

@section Scripts{
    <script src="~/assets/vendor_components/print.min.js"></script>
    <script>
        function Print(){
            
        }
    </script>
}